* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variable definitions */
:root {
  --header-footer-background-color: #404040;
  --lightskyblue: lightskyblue;
  --lightgray: lightgray;
  --about-me-work-border: #333366;
  --rgba-border-color-opacity: rgba(135, 206, 250, 0.8);
}

/* Start of Semantic code */

/* Smoth Scrolling effect */
html {
  scroll-behavior: smooth;
}

/* Start of Header code */
header {
  display: flex; /* Flex container to display the child elements as flex with space between and wrap */
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  background-color: var(--header-footer-background-color); 
}
